<!-- Header Navigation -->
<header class="header">
  <div class="header-wrapper">
    <div class="header__content header__left">
      <div class="header__logo">
        <source media="(min-width: 1024px)" srcset="/assets/images/figma/header-logo.svg">
        <img src="/assets/images/figma/header-logo_m.svg" alt="Header logo">
      </div>
      <nav class="header__nav">
        <a href="#about" class="nav__link">{{i18n.navigation.about}}</a>
        <a href="#quality" class="nav__link">{{i18n.navigation.quality}}</a>
        <a href="#products" class="nav__link">{{i18n.navigation.products}}</a>
        <a href="#contacts" class="nav__link">{{i18n.navigation.contact}}</a>
      </nav>
    </div>
    <div class="header__content header__right">
      <div class="header__lang lang-select">
        <span data-lang="ru">{{i18n.localeRu}}</span> / <span data-lang="en">{{i18n.localeEn}}</span></div>
        <div class="header__burger">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </div>
      </div>
  </div>
</header>